*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* Custom Properties */

:root {
  --ff-primary: "Playfair Display", serif;
  --ff-secondary: "Monsterrat", sans-serif;

  --main-bg-clr: #f8f2ed;
  --secondary-bg-clr: linear-gradient(to top, #dfe9f3 0%, white 100%);
  --third-bg-clr: linear-gradient(-20deg, #d558c8 0%, #24d292 100%); 
  --fourth-bg-clr: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);

  --main-text-clr: black;
  --secondary-text-clr: #eef2e2;
  --tertiary-text-clr: #f5f9ee;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* General Styles */

body {
  background: var(--main-bg-clr);
  color: var(--main-text-clr);
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */
h1, 
h2, 
h3 {
  font-family: var(--ff-primary);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.section__title {}

.section__subtitle {
  font-size: var(--fs-h3);
}

/* Media Queries */
@media (min-width: 320px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }

  .logo {
    display: block;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Nav Bar */
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__item {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.nav__link {
  text-decoration: none;
  color: var(--main-text-clr);
}

.social-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.social-list__link {
  color: var(--main-text-clr);
  font-size: var(--fs-h3);

}

/*  */

