*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* Custom Properties */

:root {
  --ff-primary: "Playfair Display", serif;
  --ff-secondary: "Monsterrat", sans-serif;

  --main-bg-clr: #f8f2ed;
  --secondary-bg-clr: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
  --third-bg-clr: linear-gradient(-20deg, #d558c8 0%, #24d292 100%); 
  --fourth-bg-clr: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);

  --main-text-clr: black;
  --secondary-text-clr: #38598b;
  --tertiary-text-clr: #f5f9ee;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* General Styles */

body {
  background: var(--main-bg-clr);
  color: var(--main-text-clr);
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */
h1, 
h2, 
h3 {
  font-family: var(--ff-primary);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.section__subtitle {
  font-size: var(--fs-h3);
}

/* Media Queries */
@media (min-width: 320px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }

  .logo {
    display: block;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .social-list__link {
    color: var(--main-text-clr);
    font-size: var(--fs-h3);
    margin-left: 2rem;;
  }

  .intro {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    margin-top: 140px;
    margin-bottom: 140px;
   }


}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Nav Bar */
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__item {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.nav__link {
  text-decoration: none;
  color: var(--main-text-clr);
}

.social-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.social-list__link {
  color: var(--secondary-text-clr);
  font-size: var(--fs-h3);

}

/* About Me Section */

.intro {
 display: flex;
 gap: 1.25rem;
 align-items: center; 
 justify-content: space-around;
 margin-top: 140px;
 margin-bottom: 140px;
}

.info {
  display: grid;
  grid-template-rows: repeat(2, 0.5fr);
  grid-template-columns: repeat(2, 15rem);
  grid-gap: 1rem;
  text-decoration: underline;
}

.info h1 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.info p{
  grid-row-start: 3;
  grid-column: 1 / 3
}

.intro img {
  width: 31.25rem;
  border-radius: 5%;
}

/* My Services */
.my-services {
  background: #113f67;
}

.services {
  display: grid;
  grid-template-rows: repeat(3, 260px);
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  /* background: var(--main-bg-clr); */
}

.services-title {
  color: var(--main-bg-clr);
  padding: 1rem;
} 


.service-one {
  grid-row-start: 1;
  grid-column-start: 1;
  margin-left: 2rem;
}

.service-one h3 {
  margin-top: 0.25rem;
}

.service-two {
  grid-row-start: 2;
  grid-column-start: 2;
  
}

.service-three {
  grid-row-start: 3;
  grid-column-start: 3;
}

.services h3 {
  writing-mode: vertical-rl;
  font-family: var(--fs-body);
  float: right;
  color: var(--main-bg-clr);
}

/* Portfolio */
.section__title,
.section__subtitle {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
